amqp==1.3.3
anyjson==0.3.3
billiard==3.3.0.13
cabot-alert-email==1.3.1
cabot-alert-hipchat==1.7.1
cabot-alert-slack==0.6
cabot-alert-twilio==1.1.4
celery==3.1.19
dj-database-url==0.2.2
Django==1.6.8
django-appconf==0.6
django-auth-ldap==1.2.6
django-celery==3.1.1
django-celery-with-redis==3.0
django-compressor==1.4
django-filter==0.7
django-jsonify==0.2.1
django-mptt==0.6.0
django-polymorphic==0.5.6
django-redis==1.4.5
django-smtp-ssl==1.0
djangorestframework==2.4.2
gevent==1.0.1
greenlet==0.4.9
hiredis==0.1.1
httplib2==0.7.7
icalendar==3.2
kombu==3.0.30
Markdown==2.5
mock==1.0.1
psycogreen==1.0
psycopg2==2.6.1
PyJWT==0.1.2
python-dateutil==2.1
python-ldap==2.4.22
pytz==2015.7
redis==2.9.0
requests==2.7.0
six==1.5.1
South==1.0
twilio==3.4.1
uWSGI==2.0.12
virtualenv==13.1.2
wheel==0.26.0
whitenoise==2.0.6
